body {
  background-color: #f7f7f7;
}

hr {
  background-color: #999;
}

.characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .characters {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .characters {
    grid-template-columns: 1fr;
  }
}

.c-header {
  display: flex;
  align-items: center;
}

.c-header .name-role {
  margin-left: 1rem;
}

.rank {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .rank {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .rank {
    grid-template-columns: 1fr;
  }
}

.rank-card {
  position: relative;
}

.rank-card .card-header {
  background-color: #fff;
}

.rank-card-top-style {
  color: red;
}

.add-points-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-points-row > span {
  display: inline-block;
  width: 50px;
}
